<%= flash[:notice] %>

<form method="post" action="/add">
  <input type="text" name="url" placeholder="Add a link">
  <input type="text" name="title" placeholder="Add a title for the link">
  <input type="submit" value="Add">
</form>


<ul>
  <% @links.each do |link| %>
    <li id="link-<%= link.id %>">
      <a href="<%= link.url %>" target="_blank">
        <%= link.title %>
      </a>
      <form method="post" action="/delete">
        <input type="hidden" name="id" value="<%= link.id %>">
       <input type="submit" value="Delete">
     </form>
    </li>
  <% end %>
</ul>
